body {
  background: #f2d19f;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items:center;
 
}

.card-container{
 justify-content: center;
 align-items: center;
 text-align: center;
}
.card{
  width: 300px;
  height: 400px;
  padding: 1em;
  -webkit-border-radius: 10px; 
  border-radius: 10px; 
  background: #ffdca7;
  -webkit-box-shadow: 10px 10px 20px #665843,
  -10px -10px 20px #ffffff;
  box-shadow: 10px 10px 20px #665843,
  -10px -10px 20px #ffffff;
}
 .card img{
  width:  90px;
  height: 90x;
  margin-top: 1em;
}
 .card .logo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .card p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    line-height: 1.3em;
    }
    .social-button{
      position: relative;
      display: inline-flex;
      margin-top: 10px;
      padding: 10px;
      
    } 
    .icon{
     text-align: center;
     font-size: 1.2em;
     padding: 15px;
     margin-right: 15px;
     background: #ffdca7;
    -webkit-box-shadow: 5px 5px 5px #665843,
      0px 0px 0px #ffffff;
      border-radius: 40px;
    
    } 